<h1>Positions#New</h1>
<%= simple_form_for [@project, @position] do |f|  %>
  <%= f.input :name %>
  <%= f.input :first_skill %>
  <%= f.input :second_skill %>
  <%= f.input :third_skill %>
  <%= f.input :status %>
  <%= f.input :skill_level %>
  <%= f.input :rate_cents %>

   <%= f.submit "Create Position", class: "btn btn-danger" %>
   <% end %>


