<h3>Group name:<%= " " %><%= @group.name %></h3>
<p>Description:<%= " " %><%= @group.description %></p>
<p>Total members:<%= " " %><%= @group.group_memberships.count %></p>

<% members = 0 %>
<% @group.group_memberships.each do |member| %>
<% members += 1 %>
<% name = member.user.first_name + (" ") + member.user.last_name %>
  <p><%= members %> - Name: <%= link_to "#{name}", user_path(member.user) %><%= " " %><%= member.group.user.skill_level %></p>

<% end %>

<%= render 'showlinks' %>
