<p><%= cl_image_tag @user.photo, height: 120, crop: :fill %></p>
<p><%= @user.first_name %><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.phone %></p>
<p><%= @user.skill_level %></p>

<%= render 'links' %>
