<div class="container user-profile-main">

  <div class="user-profile-image"> <!-- PICTURE DIV -->
    <%  if current_user.linkedin_id.nil? %>
     <div><%= cl_image_tag current_user.photo, class: "img-circle" %></div>
   <% else  %>
     <div><%= image_tag  current_user.linkedin_photo, class: "img-circle" %></div>
   <% end %>

   <div class=""> <!-- NAME DIV MAKE THIS DIV TO BE UNDER ABOVE DIV -->
     <h4><%=  current_user.first_name + " " + current_user.last_name %></h4>
   </div>

   <div class=""> <!-- LINKEDIN PROFILE LINK DIV -->
    <%  if !current_user.linkedin_id.nil? %>
     <div><%= link_to "Linkedin Profile Page", current_user.linkedin_profile_url, target: "_blank", class: "btn btn-primary" %>
     </div>
    <% else  %>
        <!-- Redirect for non linkedin users -->
    <% end %>
   </div>
  </div>

  <div class="user-profile-description"> <!-- DESC DIV -->
    <h4>Joined on: <%=  current_user.created_at %></h4>
    <h4>Profile last modified: <%=  current_user.updated_at %></h4>

    <h4>Address: <%=  current_user.address %></h4>
    <h4>Phone contact: <%=  current_user.phone %></h4>
    <h4>Asking rate: <%=  current_user.rate_cents %></h4>
    <h4>Github ID: <%=  current_user.github_id %></h4>
    <h4>Skill Level: <%=  current_user.skill_level %></h4>
  </div>


</div>





