  <%= link_to project_path(project) do %>
    <div class="card">
      <div class="text-center">
        <div class="project-card-header">
          <p><%= project.created_at.strftime("%m/%d/%Y") %></p>
          <% if project.status == "Started" && project.positions.count > 0 && project.positions.where(status: "Open" )%>
            <% come_work = ["Hiring!", "Positions Open", "Please Apply", "Help Wanted", "Urgent Help Needed"].sample %>
            <p><%= come_work %></p>
          <% end %>
        </div>
        <%= cl_image_tag(project.photo, height: 60, crop: :fill) unless project.photo.file.nil? %>
      </div>

      <div class="text-center">
        <h4><%= project.name %></h4>
        <p class="project-description"><%= truncate(project.description, length: 100) %></p>
      </div>

      <div class="project-card-footer">
        <% project.positions.first(3).each do |pos| %>
        <div>
          <p><%= pos.name %></p>
        </div>
        <% end %>
      </div>

        <%# link_to "Details", project_path(t) %>

      <div class="card-hover">
        <h3 class="glitch">More Details</h3>
      </div>
    </div>
  <% end %>
