<% if @user_positions.count == 0 %>
    You currently have no active applications on file.
<% else %>
  You have applied on <%= @user_positions.count %> positions.
  <% user_positions = 0 %>
  <% @user_positions.sort_by { |hsh| hsh[:status]}.each do |application| %>
  <% user_positions += 1 %>
    <h4><%= user_positions %> - Position name:<%= " " %><%= application.position.name %></h4>
    <h5>Total applicants:<%= " " %><%= application.position.user_positions.count %></h5>
    <h5>Project:<%= " " %><%= application.position.project.name %></h5>
    <h5>Project Leader:<%= " " %><%= application.position.project.user.first_name %><%= " " %><%= application.position.project.user.last_name %><%= " " %><%= application.position.project.user.email %><%= " " %><%= application.position.project.user.phone %></h5>
    <p>Job status:<%= " " %><%= application.position.status %></p>
    <p>First skill:<%= " " %><%= application.position.first_skill %></p>
    <p>Second skill:<%= " " %><%= application.position.second_skill %></p>
    <p>Third skill:<%= " " %><%= application.position.third_skill %></p>
    <p>Skill level:<%= " " %><%= application.position.skill_level %></p>

  <% end %>

<% end %>

<h4><%= link_to "See your projects", projects_path %></h4>

<h4><%= link_to "See all projects", projects_path(all: true) %></h4>

<h4><%= link_to "Home", root_path %></h4>
