<% position = user_position.position %>
<div class="position-card">
  <% if user_position.status == "Refused" %>
    <div class="request-status-dashboard declined"><%= user_position.status %></div>
  <% elsif user_position.status == "Accepted" %>
    <div class="request-status-dashboard accepted"><%= user_position.status %></div>
  <% else %>
    <div class="request-status-dashboard pending"><%= user_position.status %></div>
  <% end %>

  <div class="flex">
    <div class="logo">
      <%= cl_image_tag(position.project.photo, height: 60, crop: :fill) unless position.project.photo.file.nil? %>
    </div>

    <div class="position-card-info">
      <h4><%= position.name %></%></h4>
      <p> <%= position.description %> </p>
      <p id="cpt-<%= position.id %>"> Applicants: <%= position.user_positions.count %></p>
    </div>
  </div>

  <div class="card-skill-level">
    <p> <b>Experience</b> <br> <%= " " %><%= position.skill_level %></p>
    <p> <b>Skills Required</b> <br> <%= " " %>
      <%= image_tag( "svg/#{position.first_skill}.svg", width: 30) if has_asset?("svg/#{position.first_skill}.svg") %>
      <%= position.first_skill %>
      <% if position.second_skill && position.second_skill != "" && position.third_skill == "" %>
        /<%= " " %><%= position.second_skill %>
      <% elsif position.third_skill && position.second_skill != "" && position.third_skill != "" %>
        /<%= " " %><%= position.second_skill %>
        /<%= " " %><%= position.third_skill %>
      <% end %>
    </p>
  </div>

  <div class="card-action">
    <h5 class="position-rate"><%= position.rate_cents %>$/Day</h5>
  </div>
</div>
