<div class="container">
  <h2>My Projects</h2>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/project_card", project: project %>
      </div>
    <% end %>
  </div>
  <h2>Requests To My Projects</h2>
  <div class="row">
    <% @projects.each do |p| %>
      <% p.user_positions.each do |t| %>
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="project-card-header">
              <div><%= t.created_at.strftime("%m/%d/%Y") %></div>

            </div>

            <div class="text-center">

              <%= link_to users_show_path(t.user) do %>
                 <% if !t.user.linkedin_id.nil? %>
                  <%= image_tag t.user.linkedin_photo , class: "avatar-profile" %>
                <% elsif %>
                  <%= cl_image_tag t.user.photo, class: "avatar-profile" %>
                <% end %>
              <% end %>

              <h3><%= t.user.full_name %></h3>
              <p><%= p.name %></p>
              <p><%= t.user.skill_level %></p>
            </div>

            <div class="project-card-footer">
              <% if t.status == "In review" %>
              <div class="btn btn-success">
                  <%= link_to "ACCEPT", user_position_path(t, user_position: { status: "Accepted" }), method: :patch %>
                </div>
                <div class="btn btn-danger">
                  <%= link_to "DECLINE", user_position_path(t, user_position: { status: "Refused" }), method: :patch %>
                </div>
              <% end %>
            </div>

            <% link_to "Details", project_path(t) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <h2>My Requests</h2>
  <div class="row dashboard-user-positions">
    <% @my_requests.each do |user_position| %>
      <%= render "myrequests_card", user_position: user_position %>
    <% end %>
  </div>
</div>
