<div class="container">
  <% if @projects.any? %>
    <h2 class="h2-designed">My Projects</h2>
  <% end %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "shared/project_card", project: project %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <h2 class="h2-designed">Projects Applications</h2>
    <div class="row">
      <% @projects.each do |p| %>
        <% p.user_positions.each do |t| %>
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <div class="request-status-dashboard <%= t.status %> right"> <%= t.status.capitalize %></div>

              <div class="project-card-header">
                <div><%= t.created_at.strftime("%m/%d/%Y") %></div>

              </div>

              <div class="text-center">
                <%= link_to t.user.linkedin_profile_url, target: "_blank" do %>
                   <% if !t.user.linkedin_id.nil? %>
                    <%= image_tag t.user.linkedin_photo , class: "avatar-profile" %>
                  <% elsif %>
                    <%= cl_image_tag t.user.photo, class: "avatar-profile" %>
                  <% end %>
                <% end %>

                <h3><%= t.user.full_name %></h3>
                <p><%= p.name %></p>
                <p><%= t.user.skill_level %></p>
              </div>

              <div class="project-card-footer">
                <% if t.status == "pending" %>
                <div class="btn btn-success">
                    <%= link_to "ACCEPT", user_position_path(t, user_position: { status: "accepted" }), method: :patch %>
                  </div>
                  <div class="btn btn-danger">
                    <%= link_to "DECLINE", user_position_path(t, user_position: { status: "declined" }), method: :patch %>
                  </div>
                <% end %>
              </div>

              <% link_to "Details", project_path(t) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @my_requests.any? %>
    <h2 class="h2-designed">My Applications</h2>
  <% end %>
  <div class="row dashboard-user-positions">
    <% @my_requests.each do |user_position| %>
      <%= render "myrequests_card", user_position: user_position %>
    <% end %>
  </div>
</div>
