 <div class="form_freelanz">

  <%= simple_form_for [@project] do |f| %>
    <%= f.input :name %>
    <%= f.input :short_description, label: 'Tagline' %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :deadline %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary" %>
  <% end %>

 </div>


  <h4><%= link_to "Your projects list", projects_path(@user) %></h4>

  <h4><%= link_to "See all projects", projects_path %></h4>
