  <%= simple_form_for [@project] do |f| %>
    <%= f.input :name %>
    <%# f.input :logo %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :short_description %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :deadline %>
    <%= f.button :submit, class: "btn btn-primary" %>
    <% end %>

  <h4><%= link_to "Your projects list", projects_path(@user) %></h4>

  <h4><%= link_to "See all projects", projects_path %></h4>
