<div>

  <% if !user_signed_in? || params[:all] %>

    <h4><%= link_to "See your projects", projects_path %></h4>
  <% else %>
    <h4><%= link_to "See all projects", projects_path(all: true) %></h4>

  <% end %>

  <% if user_signed_in? %>
    <p><%= link_to 'See your job applications', user_positions_path %></p>
  <% end %>

  <h4><%= link_to "Create New Project", new_project_path %></h4>

  <h4><%= link_to "Home", root_path %></h4>

</div>
