<div class="position-card">
  <div class="position-card-info">
    <h4><%= position.name %></%></h4>
    <p> <%= position.description %> </p>
  </div>
  <div class="card-skill-level">
    <p> <b>Experience</b> <br><%= position.skill_level %></p>
    <p> <b>Skills Required</b> <br>
    <% position.skills.each do |skill| %>
    <div id="card-skill-level-logos">
      <%= image_tag(skill.photo, width: 30) %>
    </div>
    <% end %>
  </div>
  <div class="card-action">
    <% if @project.user == current_user %>

      <div class="icons">
        <h5 class="position-rate"><%= position.rate_cents %>$/Day</h5>
        <%= link_to edit_project_position_path(@project, position) do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to project_position_path(@project, position), method: :delete do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </div>
    <% else %>
      <h5 class="position-rate"><%= position.rate_cents %>$/Day</h5>
      <% if position.user_positions.where(user_id: @current_user).count == 0 && position.project.user != @user %>
        <div id="apply-<%= position.id %>">
          <%= link_to "Apply", position_user_positions_path(position), method: :post, remote: :true, class: "btn-apply" %>
        </div>
      <% elsif position.project.user != @user %>
        <p>Already Applied</p>
      <% end %>
    <% end %>
     <p><i class="fas fa-user-alt"></i> <span id="cpt-<%= position.id %>"><%= position.user_positions.count %></span></p>
  </div>
</div>
