
  <% @projects.each do |project| %>
    <%= link_to project.name, project_path(project) %>
    <%= project.short_description %>
    <%= project.description %>
    <%= project.deadline %>
    <%= project.start_date %>
  <% end %>

<% if !user_signed_in? || params[:all] %>

  <h4><%= link_to "See your projects List", projects_path %></h4>

<% else %>
  <h4><%= link_to "See all projects", projects_path(all: true) %></h4>

<% end %>

<h4><%= link_to "Create New Project", new_project_path %></h4>
<h4><%= link_to "Home", root_path %></h4>
