<div class="container">
  <div class="project-header" >
    <div class="project-info">

    <%= cl_image_tag @project.photo, height: 60, width: 60, crop: :fill %>
    <div class="project-title">
      <h1><%= @project.name %></h1>
    </div>
  </div>
  <% if @project.user == current_user %>
      <div class="btn-add-position">
        <%= link_to edit_project_path(@project) do %>
          <i class="far fa-edit"></i>
        <% end %>
        <%= link_to new_project_position_path(@project) do %>
          <i class="fas fa-plus-circle"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="project-details">
      <p class="short-description"><%= @project.short_description %></p>
      <p class="start-end-dates"><%= @project.start_date.strftime("%m/%d/%y") %> - <%= @project.deadline.strftime("%m/%d/%y") %></p>
    <p><%= @project.description %></p>
  </div>


  <% if @project.positions.count == 0 %>
    <h2>There are no available positions for this project.</h2>

  <!-- If the the viewer is the owner of project AND there are positions created. -->

  <% elsif @project.user == @user %>
      <% @project.positions.where(status: "Open").each do |position| %>
        <%= render "project_position_card", position: position %>
      <% end %>
  <% else %>
    <h2>There Are <%= @project.positions.where(status: "Open").count %> Position(s) Open</h2>
    <% @project.positions.where(status: "Open").each do |position| %>
      <%= render "project_position_card", position: position %>
    <% end %>
  <% end %>
</div>
