<div class="container">
  <div class="project-header" >
    <%= cl_image_tag @project.photo, height: 60, width: 60, crop: :fill %>
    <div class="project-info">
      <h1><b><%= @project.name %></b></h1>
      <p><%= @project.start_date.strftime("%m/%d/%y") %> - <%= @project.deadline.strftime("%m/%d/%y") %></p>
    </div>
  </div>

  <p>Project Leader:<%= " " %><%= @project.user.first_name %><%= " " %>
    <%= @project.user.last_name %></p>
  <p>Description:<%= " " %><%= @project.short_description %></p>
  <p>Details:<%= " " %><%= @project.description %></p>

  <!-- If the the viewer is the owner of project but no positions yet. -->

  <% if @project.user == @user && @project.positions.count == 0 %>
    <h2><%= link_to 'Add Position', new_project_position_path(@project) %></h2>

  <!-- If the the viewer is NOT the owner of project AND no positions yet. -->

  <% elsif @project.user != @user && @project.positions.count == 0 %>
    <h2>There are no available positions for this project.</h2>

  <!-- If the the viewer is the owner of project AND there are positions created. -->

  <% elsif @project.user == @user %>

    <h2>You have <%= @project.positions.count %> positions for the <%= @project.name %> project:</h2>
      <% positions = 0 %>
      <% @project.positions.where(status: "Open").each do |position| %>
      <% positions += 1 %>
        <h4><%= positions %> - Name:<%= " " %><%= link_to "#{position.name}", project_position_path(@project, position) %>
        </%></h4>
        <p>Skill Level<%= " " %><%= position.skill_level %></p>

        <p>Skills required <%= " " %><%= position.first_skill %>
      <% if position.second_skill && position.second_skill != "" && position.third_skill == "" %>
        /<%= " " %><%= position.second_skill %>
      <% elsif position.third_skill && position.second_skill != "" && position.third_skill != "" %>
        /<%= " " %><%= position.second_skill %>
        /<%= " " %><%= position.third_skill %>
     <% end %>
        <p>Number of applicants:<%= " " %> <span id="cpt-<%= position.id %>"><%= position.user_positions.count %></span></p>
      <% end %>

  <!-- If the the viewer is NOT the owner of THE project AND there are positions open. -->

  <% else %>

    <h2>There are <%= @project.positions.where(status: "Open").count %> positions open for the <%= @project.name %> project:</h2>

    <% @project.positions.where(status: "Open").each do |position| %>

    <div class="position-card">
      <div class="position-card-info">
        <h4><%= positions %><%= " " %><%= link_to "#{position.name}", project_position_path(@project, position) %></%></h4>
        <p>Your role is to code .Your role is to code ......Your role is to code ......Your role is to code ......Your role is to code ......Your role is to code ......Your role is to code ......</p>
      </div>
      <div class="card-skill-level">
        <p> <b>Experience</b> <br> <%= " " %><%= position.skill_level %></p>
        <p> <b>Skills Required</b> <br> <%= " " %><%= position.first_skill %>
          <% if position.second_skill && position.second_skill != "" && position.third_skill == "" %>
            /<%= " " %><%= position.second_skill %>
          <% elsif position.third_skill && position.second_skill != "" && position.third_skill != "" %>
            /<%= " " %><%= position.second_skill %>
            /<%= " " %><%= position.third_skill %>
          <% end %>
        </p>
      </div>
      <div class="card-action">
        <h5 class="position-rate"><%= position.rate_cents %>$/Day</h5>
        <% if !user_signed_in? %>
          <p>Please log in to apply.</p>
        <% elsif position.user_positions.where(user_id: @current_user).count == 0 && position.project.user != @user %>
          <%= link_to "Apply", position_user_positions_path(position), method: :post, remote: :true, class: "btn-apply", id: "apply-#{position.id}"%>
          <% elsif position.project.user != @user %>
            <p>Already Applied</p>
        <% end %>
      </div>
    </div>



    <% end %>
  <% end %>

  <% if @project.user == @user && @project.positions.count != 0 %>
    <%= link_to 'Add a Position', new_project_position_path(@project) %>
  <% end %>

<%= render 'showindex' %>
</div>
