<h3>Name:<%= " " %><%= @project.name %></h3>
<p>Description:<%= " " %><%= @project.short_description %></p>
<p>Start date:<%= " " %><%= @project.start_date %></p>
<p>Deadline:<%= " " %><%= @project.deadline %></p>
<p>Details:<%= " " %><%= @project.description %></p>

<%= link_to 'Back to projects list', projects_path %>
