<h3>Name:<%= " " %><%= @project.name %></h3>
<p>Project Leader:<%= " " %><%= @project.user.first_name %><%= " " %>
  <%= @project.user.last_name %></p>
<p>Description:<%= " " %><%= @project.short_description %></p>
<p>Start date:<%= " " %><%= @project.start_date %></p>
<p>Deadline:<%= " " %><%= @project.deadline %></p>
<p>Details:<%= " " %><%= @project.description %></p>

<% @projects.position.each do |position| %>
  <%= position.name %>
  <%= position.status %>
  <%= position.skill_level %>
  <%= position.first_skill %>
  <%= position.second_skill %>
  <%= position.third_skill %>
<% end %>



<%= link_to 'Delete the project', project_path, method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to 'Edit the project', edit_project_path(@project) %>

<%= link_to 'Create a new project', new_project_path %>

 <h4><%= link_to "See your projects list", projects_path %></h4>

<h4><%= link_to "See all projects", projects_path(all: true) %></h4>

<h4><%= link_to "Home", projects_path %></h4>
