<h1>Project name:<%= " " %><b><%= @project.name %></b></h3>
<p>Project Leader:<%= " " %><%= @project.user.first_name %><%= " " %>
  <%= @project.user.last_name %></p>
<p>Description:<%= " " %><%= @project.short_description %></p>
<p>Start date:<%= " " %><%= @project.start_date %></p>
<p>Deadline:<%= " " %><%= @project.deadline %></p>
<p>Details:<%= " " %><%= @project.description %></p>

<% if @project.user == @user && @project.positions.count == 0 %>
  <h2><%= link_to 'Add a position to this project', new_project_position_path(@project) %></h2>
<% elsif @project.positions.where(status: "Open").count == 0 %>
  <h2>There are no available positions for this project.</h2>
<% else %>
  <h2>There are <%= @project.positions.count %> positions open for this <%= @project.name %> project:</h2>
  <% positions = 0 %>
  <% @project.positions.where(status: "Open").each do |position| %>
  <% positions += 1 %>
    <h4><%= positions %> - Name:<%= " " %><%= link_to "#{position.name}", project_position_path(@project, position) %>
    </%></h4>
    <p>Skill level required:<%= " " %><%= position.skill_level %></p>

    <p>Skills required: <%= " " %><%= position.first_skill %>
    <% if position.second_skill && !position.third_skill %>
      /<%= " " %><%= position.second_skill %>
    <% elsif position.third_skill %>
      /<%= " " %><%= position.second_skill %>
      /<%= " " %><%= position.third_skill %>
   <% end %>
   </p>
    <p>Number of applicants:<%= " " %> <span id="cpt-<%= position.id %>"><%= position.user_positions.count %></span></p>


      <% if !user_signed_in? %>
        Please log in to apply.
      <% elsif position.user_positions.where(user_id: @current_user).count == 0 && position.project.user != @user %>
        <span id="apply-<%= position.id %>"><%= link_to "Apply", position_user_positions_path(position), method: :post, remote: :true %></span>
      <% end %>
  <% end %>

<% end %>

<% if user_signed_in? && @project.user == @user %>
  <%= link_to 'Add a position', new_project_position_path(@project) %>
  <%= link_to 'Delete the project', project_path, method: :delete,
    data: { confirm: "Are you sure?" } %>
  <%= link_to 'Edit the project', edit_project_path(@project) %>
<% elsif user_signed_in? && @project.user != @user %>
 <h4><%= link_to "See your projects", projects_path %></h4>
<% end %>


<h4><%= link_to "See all projects", projects_path(all: true) %></h4>

<h4><%= link_to "Home", root_path %></h4>
