<h3>Name:<%= " " %><%= @project.name %></h3>
<p>Description:<%= " " %><%= @project.short_description %></p>
<p>Start date:<%= " " %><%= @project.start_date %></p>
<p>Deadline:<%= " " %><%= @project.deadline %></p>
<p>Details:<%= " " %><%= @project.description %></p>

<%= link_to 'Delete the project', user_project_path(@user), method: :delete,
      data: { confirm: "Are you sure?" } %>

<%= link_to 'Edit the project', edit_user_project_path(@user) %>

<%= link_to 'Create a new group', new_user_project_path(@user) %>

 <h4><%= link_to "Back to your projects list", user_projects_path(@user) %></h4>

<h4><%= link_to "Back to complete projects List", projects_path %></h4>

<h4><%= link_to "Home", root_path %></h4>
